header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* outline: auto; */
}

.icon {
    width: 1.5em;
    height: 1.5em;
    color: whitesmoke;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1em;
}
span {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    color: whitesmoke;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.158); 
  margin-bottom: 3em;
}