header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin: 0;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    color: whitesmoke;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5em;
}

span {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    color: whitesmoke;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.158); 
    margin: 0 1em 2em 1em;
    width: calc(100% - 2em);
}