header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* outline: auto; */
}

.icon {
    width: 2em;
    height: 2em;
    color: whitesmoke;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1em;
}
span {
    font-size: 2em;
    padding: 0;
    margin: 0;
    color: whitesmoke;
}