.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
    
    gap: 1em;
    padding: 1em 5em;
    
    border-radius: 1em;
    border: 1px solid greenyellow;

    margin: auto;
}
.ph {
    font-size: 2em;
    color: whitesmoke;
}
b {
    font-size: 3em;
    color: greenyellow;
}
.state {
    font-size: 1em;
    text-align: center;
}