.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(600px, 95vw);
    gap: 0em;
    padding: 1em 1.5rem;
    border-radius: 1.2em;
    border: 1px solid rgba(255, 255, 255, 0.158);
    background-color: rgb(41, 25, 66);
    box-shadow: rgba(0, 0, 0, 0.493) 0.2em 0.2em 1.2em;
    margin: 1em auto 3em auto;
}
.ph {
    font-size: 1.5em;
    color: whitesmoke;
}
.numpH {
    font-size: 5em;
    color: greenyellow;
}
.state {
    font-size: 1.5em;
    text-align: center;
}