.configButton {
	background: transparent;
	border: none;
	padding: 0.4em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.configButton:active { background-color: rgba(127, 255, 212, 0.082); }